<section>
  <div>
    <p>Sign Up</p>
  </div>
  <form class="signup-form">
    <div>
      <label for="username-signup">Username</label>
      <br />
      <input type="text" id="username-signup" class="form-input" />
    </div>
    <div>
      <label for="password-signup">Password</label>
      <br />
      <input type="text" id="password-signup" class="form-input" />
    </div>
    <div>
      <button class="btn" type="submit">Sign Up!</button>
    </div>
  </form>
  <a class="content" href="/login">Login instead!</a>
</section>
<script src="/javascript/signup.js"></script>